.frizzly-container {
	overflow: hidden;
	clear: both;
}

div.frizzly-button-container {
	display: block;
	width: 45%;
	float: left;
	margin: 0 0 10px 0;

	h4 {
		text-align: center;
	}

	ul.frizzly-button-list {
		min-height: 20px;
		list-style-type: none;

		li {
			display: block;
			margin: 0 5px 5px 5px;
			padding: 5px;
			text-align: center;
			box-sizing: content-box;
			cursor: move;
		}
	}
}

h3.frizzly-title {
	margin: 0;
}



