@mixin transition( $property, $duration, $timingFunc) {
	-webkit-transition: $property $duration $timingFunc;
	-moz-transition: $property $duration $timingFunc;
	-o-transition: $property $duration $timingFunc;
	transition: $property $duration $timingFunc;
}

/* HOVER CONTAINER */
.frizzly-hover-overlay {
	@include transition(opacity, 0.5s, ease-out);
	position: absolute;
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}

/* THEMES */

/* DEFAULT THEME */

.frizzly-container.default48 div {
	width: 48px;
	height: 48px;
	float: left;
	position: relative;

	.frizzly-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 24px;
		margin-top: -12px;
		background-image: url('../img/themes/default48.png');
	}

	&.frizzly-icon-pinterest {
		background-color: #CC2127;

		.frizzly-inner {
			background-position: -37px 0;
			margin-left: -10px;
			width: 20px;
		}
	}

	&.frizzly-icon-twitter {
		background-color: #55ACEE;

		.frizzly-inner {
			background-position: -13px 0;
			margin-left: -12px;
			width: 24px;
		}
	}

	&.frizzly-icon-facebook {
		background-color: #3B5998;

		.frizzly-inner {
			background-position: 0 0;
			margin-left: -6px;
			width: 13px;
		}
	}
}