#content {
	display:inline-block;
	float:left;
	width:100%;
	background: $color__background-content-down;

		#primary.full-width-page {
		    padding-left: 15px;
		    padding-right: 15px;

		    .middle-large-section {
				  display:block!important;
				  float:none!important;
				  position:relative!important;
				  width:100%!important;
				  max-width:1000px!important;
				  margin:auto!important;
				  padding: 0 15px 0 15px!important;
				}
		}

	.blue-part {
		display:inline-block;
		float:left;
		width:100%;
		min-height:200px;
		background-color:$color__background-content-up;
	}

	.content-part {
	    display: inline-block;
	    float: left;
	    width: 100%;


	    .page-general {
		    background: #fff;
		    min-height: 400px;
		    margin-top: -160px;
		    margin-bottom: 40px;
		    border: 1px solid rgba(34, 107, 170, 0.17);
		    border-radius: 2px;
		    box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);

		    .page-title-wrapper {
				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px 15px;
				background:$color__flat_heading_bg;
				color:$color__flat_heading_font;

				h1 {
					display:inline;
					font-size:15px;
					margin:0;
					padding:0;
					margin-right:10px;
				}
		    }

		    .page-content-wrapper {
				padding:15px;
		    }
		    .error-wrapper{
		    	text-align:center;
		    	h1,
		    	h3 {
		    		color:#888;
		    	}
		    }
		}



	}

}


