.site-footer {
	display:inline-block;
	float:left;
	width:100%;
	background:$color__background-footer;
	border-top:1px solid $color__grid-grey-light;
}



.footer-menu-wrapper {
	.menu {
		display: inline-block;
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			float: left;
			margin: 10px 0;
			border-right: 1px solid $color__grid-grey-light;
				a {
					color: #909090;
					font-size: 12px;
					padding: 0 10px;
					}
			}

		li:last-child {
		display: inline-block;
		float: left;
		margin: 10px 0;
		border-right: none;
		}
	}

	.footer-left-menu-wrapper {
	display: inline-block;
	float: left;
	}

	.footer-right-menu-wrapper {
	display: inline-block;
	float: right;
	}
	.copyright {
		display: inline-block;
		float: left;
		width: 100%;
		font-size: 11px;
		padding: 10px;
		border-top: 1px solid $color__grid-grey-light;
		text-align: center;
		color:#909090;
	}
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/




@media screen and (max-width: 360px) {

.site-footer {
	.footer-left-menu-wrapper,
	.footer-right-menu-wrapper  {
	float: left;
	width:100%;

		.menu {
			width:100%;
			text-align:center

		}
		li {
			width:100%;
			border:none;
			}
	}

}

}
