
header#masthead {
    display: inline-block;
    float: left;
    width: 100%;
    background: $color__background-header;
    height:50px;
    border-bottom: 1px solid $color__grid-grey-light;

    a.logo-wrapper{
    	display:inline-block;
    	float:left;
		height:24px;
		margin: 13px 0;
		.logo {
			height:24px;
			width:auto;
		}
    }

    #site-navigation {
    	display:inline-block;
    	float:right;
		width:auto;


		.nav-item {
		    display: inline-block;
		    float: left;
		    min-width: 50px;
		    line-height: 50px;
		    font-size: 16px;
		    border-right: 1px solid $color__grid-grey-light;
		    text-align: right;
		    padding-right: 10px;
		    padding-left: 17px;
		    color:$color__flat_midnight_blue;
		    text-decoration:none;

		    &.settings-dropdown {
		    	border-left: 1px solid $color__grid-grey-light;
          padding-left: 10px;
		    }

		    &:hover {
		    	background-color:#ecf0f1;
		    }

		    & > i {
		    	font-size: 19px;
		    }
		}


		& > .nav-item:first-child {
			border-left: 1px solid $color__grid-grey-light;
		}

		.badge.header-badge {
		    margin-top: -13px;
		    margin-left: -8px;
		    background-color:#e74c3c;
		    		&.grey {
				background:#777777;
			}
		}



		.nav-dropdown {
			font-weight:600;
			font-size:14px
		}

		.nav-dropdown > i {

			margin-left:15px;
			margin-right:12px;
			font-size:18px;

		}

		.dropdown-menu {
			right:0;
			top:50px;
			left:auto;
			& > li i {
				margin-right:10px;
				color:$color__flat_midnight_blue;
				width:15px;
				text-align:center;
			}
		}

		.label-menu {
			display:none;
		}
    }

.nav-item.nav-item-without-badge {
	padding-right:17px!important;
}

#site-navigation.mobile-navigation,
#site-navigation .mobile-navigation {
	display:none;
}
.inline-navigation {
    .navigation {
    	display:block;
    	float:left;
    	width:auto;
    	height:50px;
    	margin:0;
    	padding: 0;
    	list-style:none;

    	.nav-item {
    		display:inline-block;
        a {
        	color:#444;
        	font-size:16px;
        	line-height:34px;
        	padding:0 15px;
        	text-decoration:none;
        	margin:8px 0;
        	display:inline-block;
        	height:34px;

        	&:hover {
        		color:#333;
        	}

        	&.opengo-nav-btn {
        		background:#be1622;
        		color:#fff;
        		border-radius:4px;
        		&:hover {
        			background:#da2734;
        		}
        	}
        }

    	}
    }
}

#site-navigation .settings-dropdown-wrapper > a > i {
	margin-left:12px;
	margin-right:12px;
}




}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/


@media screen and (max-width: 685px) {



header#masthead {

	#site-navigation.mobile-navigation,
	#site-navigation .mobile-navigation {
	display:block;
	border-left:1px solid $color__grid-grey-light;
}

.nav-item-without-badge {
	display:none!important;
}
.inline-navigation .desktop-item,
.settings-dropdown-wrapper {
	display:none!important;
}

.inline-navigation .opengo-nav-btn {
	margin-right:8px!important;
}

    #site-navigation {
		.label-menu {
			display:inline;
		}
		.hi-username {
			display:none;
		}
    }
}

}



@media screen and (max-width: 430px) {

// #masthead #site-navigation .nav-item.jobs,
// #masthead #site-navigation .nav-item.messages,
#masthead #site-navigation .hi-username,
#masthead #site-navigation .label-menu
 {
	display:none!important;
}


#masthead .middle-section {
	    padding: 0 10px;
}

#masthead .middle-section a.logo-wrapper .logo {
    height: 18px;
    margin-top: 5px;
    width: auto;
}

#masthead .middle-section #site-navigation .nav-item {
    padding-right: 5px;
    padding-left: 0px;
    border-left:none!important;

    &.jobs,
    &.messages {
    	padding-right: 10px;
      padding-left: 17px;
    }

    &.jobs {
    	padding-right: 10px;
      padding-left: 17px;
      border-left:1px solid #e3e3e3!important;
    }

}



#masthead #site-navigation .nav-item.nav-dropdown
 {
	border-right:none;
}

}
