html:not(.mobile-true) #main img:not(.animate-element, .ls-s-1),
html:not(.mobile-true) #header img,
html:not(.mobile-true) #bottom-bar img {
    opacity: 1 !important;
}


.home .post-snippet .author {
	display:none;
}


.middle-section {
	display:block;
	position:relative;
    margin:auto;
    width:100%;
    max-width:$content__max-width;
    padding: 0 20px;
}

.vertical-padding-40 {
	padding-top:40px;
	padding-bottom:40px;
}

.btn-opengo-blue {
	background-color:#3498db;
	color:#fff;
}

.btn-opengo-blue:active,
.btn-opengo-blue:hover,
.btn-opengo-blue:focus
 {
	background-color:#2980b9;
	color:#fff;
}

.btn-opengo-red {
	background-color: #be1622;
	color:#fff;
}

.btn-opengo-red:active,
.btn-opengo-red:hover,
.btn-opengo-red:focus
 {
	background-color: #da2734;
	color:#fff;
}



.nothing-found {
    padding: 140px 0;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    background-color: #F5F5F5;
}

.no-formatting-pre {
    min-height: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    padding: 7px;
    font-size: 13px;
}

.og-info {
	text-align:center;
	padding:10px;
	font-size:13px;
	color:#2C3E50;
	margin:0;
	border-radius:3px;
	border: 1px solid #ACC9E2;
}


.badge {
    padding: 3px 6px;
    border:1px solid #fff;
    }


span.item-preloader {
    display: none;
    float: right;
    margin: 0 15px;
    font-size: 12px;
    color: #CCC;
}

span.item-error-msg,
span.item-success-msg{
    display: none;
    float: right;
    margin: 0 15px;
    font-size: 13px;
    padding: 7px;
}

span.item-error-msg > i,
span.item-success-msg > i
 {
    font-size: 15px;
    margin-right: 3px;
}

span.item-error-msg{
    color: #c0392b;
}

span.item-success-msg{
    color: #27ae60;
}

.ui-sortable-helper {
	border:1px solid #ccc!important;
	border-radius:3px;
}



/*--------------------------------------------------------------
# Styling summernote wysiwyg
--------------------------------------------------------------*/

.wysiwyg > .control-label {
margin-bottom:5px;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: rgba(245, 245, 245, 0.43);
    border-color: #ECF0F1;
}

.note-editor {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.note-editor .note-editing-area .note-editable {
    padding: 10px;
    overflow: auto;
    color: #2C3E50;
    background-color: #fff;
}
.note-editable.panel-body p {
    margin-bottom: 1px;
}

button.btn.btn-default.multiselect-clear-filter {
    padding-top: 7px;
}

.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
    margin: 0;
    padding: 10px 40px;
    line-height: 22px;
}

.multiselect-wrapper .btn-group {
	width:100%;

	.btn {
		width:100%;
		text-align:left;
		.caret {
			float:right;
			margin-top:8px;
		}
	}

	.multiselect-selected-text {
    float: left;
	}


}

	label.checkbox:focus,
	label.checkbox:active,
	label.checkbox:hover,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
    outline: none!important;
}

.text-align-left {
	text-align:left!important;
}

span.ng-placeholder {
    color: #929292;
}






/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.og-msg {
    float: right;
    margin-top: 4px;
    padding: 0px 19px;
    font-size: 13px;
    text-align: right;

    &.og-success {
    	color:#27ae60;
    }
    &.og-error {
    	color:#e74c3c;
    }

}

.ng-hide-add,
.ng-hide-remove {
  display: none !important;
}

.og-hidden {
	display:none;
}


@media screen and (max-height: 450px) {
	.middle-section {
	    padding: 0 10px;
	}
}




/*--------------------------------------------------------------
# preloader
--------------------------------------------------------------*/
[ng-cloak].splash {
  display: block !important;
}
.splash {display: none;}
/* some naive styles for a splash page */
.splash {
	text-align:center;
	padding:50px 0;
  color: #ECF0F1;

	.preloader {
    padding-bottom: 28px;
	}
}





.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

.auth-buttons-wrapper {
	display:block;
	float:left;
	width:100%;
	position:relative;
	.auth-buttons-inner {
		position:relative;
		float:none;
		width:100%;
		max-width:360px;
		margin:auto;
	.linkedin-login.btn,
	.facebook-login.btn {
	    width: 100%;
	    padding: 11px;
	    margin-top: 17px;
	    color: #fff;
	    background-color: #0077b5;
	    border: none;
	    opacity:0.85;
	}

		.nsauth-btn.btn {
	    width: 100%;
	    padding: 11px;
	    margin-top: 17px;
	    border: none;
	    opacity:0.85;
	}

	.linkedin-login.btn:hover,
	.facebook-login.btn:hover {
	    opacity:1;
	}

	.linkedin-login.btn{
	    background-color: #0077b5;
	}
	.facebook-login.btn {
		background-color:#2E4DA7;
	}

	.linkedin-login.btn > i,
	.facebook-login.btn > i {
	    font-size: 17px;
	    margin-right: 12px;
	}
	}
}



.bootstrap-select-wrapper {





		.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
    margin: 0;
    padding: 10px 15px;
    line-height: 22px;
}
		.dropdown-menu > li.selected > a,
		.dropdown-menu > li.active > a  {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #fff;
    white-space: nowrap;
    margin: 0;
    padding: 10px 15px;
    line-height: 22px;
}

.dropdown-menu > li.selected {
    background: #337AB7;
}

.btn-group.bootstrap-select {
    width: 100%!important;
}

}




/// style for VC powered pages


.wpb_wrapper {

	p {
    font-size: 21px;
	}

	h4 {
		font-size:18px;
		    font-weight: 400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6, {
		    font-weight: 400;
		}

}
