.blog-archive-container {
	max-width: 800px;
}
.blog-archive-section {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	padding-top: 30px;
}
.blog-archive-list > .blog-archive-section:last-child {
	border-bottom: none;
}
.full-width-post {
	.banner {
		position: relative;
		background: #01a2be url("images/default-featured-bg.jpg") no-repeat center top;
		background-size: cover;
		min-height: 350px;
		.container {
			position: absolute;
			left: 50%;
			bottom: 60px;
			margin-left: -585px;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 36px;
			color: #fff;
			font-weight: 900;
			font-style: normal;
			margin-left: 0;
			background: url("images/caption_dot.png") repeat 0 0;
			padding: 26px;
			max-width: 747px;
			width: 100%;
			a {
				text-decoration: none;
				color: #fff;
				small {
					font-size: 18px;
					color: #ebf0f3;
					font-weight: normal;
					font-style: normal;
					display: block;
					padding-bottom: 3px;
				}
				span {
					color: #fff;
				}
			}
		}
	}
}
.popular-posts {
	h1 {
		background: #747476;
		line-height: 120px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		&:after {
			border-top: 20px solid #747476;
			border-left: 22px solid transparent;
			border-right: 22px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			left: 50%;
			bottom: -19px;
			margin-left: -29px;
			z-index: 9;
		}
	}
	section {
		background: #c3dc7e url("images/blog2.jpg") no-repeat center top;
		background-size: cover;
		min-height: 580px;
		position: relative;
	}
	h2 {
		font-size: 36px;
		color: #fff;
		font-weight: 900;
		font-style: normal;
		background: url("images/caption_dot.png") repeat;
		max-width: 748px;
		width: 100%;
		padding: 0 20px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin: 0 0 0 -374px;
	}
	a {
		display: table;
		height: 148px;
		text-decoration: none;
		width: 100%;
		color: #fff;
		text-align: center;
		span {
			display: table-cell;
			vertical-align: middle;
		}
		&:hover {
			color: #ccc;
		}
	}
}
.load-more-wrapper {
	text-align: center;
	padding-bottom: 60px;
	padding-top: 20px;
	border-top: #fff 1px solid;
	background: #fff;
	a {
		color: #5cb85c;
		padding: 17px 61px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: inline-block;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 400;
		font-style: normal;
		-webkit-transition: all ease-in-out 400ms 0s;
		-moz-transition: all ease-in-out 400ms 0s;
		-ms-transition: all ease-in-out 400ms 0s;
		-o-transition: all ease-in-out 400ms 0s;
		transition: all ease-in-out 400ms 0s;
		border: #5cb85c solid;
		&:hover {
			background: #5cb85c;
			text-decoration: none;
			color: #fff;
		}
	}
	.loader-wrap {
		position: relative;
		img {
			position: absolute;
			left: 50%;
			padding-top: 15px;
			transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
		}
	}
}



/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/



@media (max-width: 1199px) {
	.full-width-post {
		.banner {
			h2 {}
			.container {
				margin-left: -485px;
			}
		}
	}
}
@media (max-width: 1023px) {
	.full-width-post {
		.banner {
			min-height: 510px;
			h2 {
				margin-left: 0;
			}
			.container {
				position: absolute;
				left: 72%;
				bottom: 3em;
				margin-left: -585px;
			}
		}
	}
	.popular-posts {
		h1 {
			font-size: 45px;
		}
		h2 {
			max-width: 728px;
			margin: 0 0 0 -364px;
			padding: 0;
		}
	}
}
@media (max-width: 767px) {
	.blog-post .author-n-sharing {
		border-left: none!important;
		border-top: 1px solid #ccc;
		padding-top: 20px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}
	.post-snippet .image-wrapper {
		margin-bottom: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.full-width-post {
		.banner {
			min-height: 360px;
			.container {
				position: absolute;
				left: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
			}
			h2 {
				font-size: 26px;
				max-width: 100%;
				padding: 12px;
				a {
					height: 115px;
				}
				small {
					font-size: 16px;
					text-align: center;
				}
			}
		}
	}
	.popular-posts {
		section {
			min-height: 360px;
		}
		h1 {
			font-size: 32px;
			line-height: 80px;
		}
		h2 {
			max-width: 100%;
			margin: 0;
			padding: 8px;
			left: 50%;
			width: 90%;
			margin-left: -45%;
			font-size: 26px;
		}
	}
}
@media (max-width: 480px) {
	.popular-posts {
		h1 {
			line-height: 28px;
			padding: 20px 10px;
			font-size: 24px;
		}
		h2 {
			font-size: 22px;
		}
	}
}
