#content .page-general.page-dashboard.complete-profile {
	background:transparent;
	border:none;
	display:inline-block;
	float:left;
	width:100%;
	box-shadow: none;


	 .dashboard-main-area-wrapper {
		display:inline-block;
		float:left;
		width:100%;
		margin-right:0%;


		.congratulations-notice .alert {
			margin:0;
		}
		.congratulations-notice section {
				padding-left:30px!important;
				padding-right:30px!important;
		}
	}
	.centered-button-wrapper {
    text-align: center;
    padding: 15px;
    padding-top: 0;
}
}


.skills.col-md-12 {
    padding: 15px;
    padding-top: 20px;

    .list-group {
    margin-left: 0;
	}
}
