#content .page-general.page-dashboard-v2 {
	background: transparent;
	border: none;
	float: left;
	width: 100%;
	box-shadow: none;
	.dashboard-main-area-wrapper {
		float: left;
		width: 73%;
		margin-left: 2%;
	}
	.dashboard-widget-area-wrapper {
		float: left;
		min-width: 200px;
		width: 25%;
		.profile-completion .content {
			text-align: center;
		}
		.no-items {
			width: 100%;
			padding: 40px 15px;
			text-align: center;
			display: inline-block;
			font-weight: 500;
		}
	}
	.dashboard-main-area-wrapper .content,
	.dashboard-widget-area-wrapper .widgets {
		background: #fff;
		border: 1px solid rgba(34, 107, 170, 0.17);
		border-radius: 2px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	}
	.dashboard-main-area-wrapper .content {
		.title {
			padding: 10px 15px;
			border-top: 1px solid $color__grid-grey-light;
			border-bottom: 1px solid $color__grid-grey-light;
			width: 100%;
			background: $color__flat_heading_bg;
			color: $color__flat_heading_font;
			position: relative;
			h1 {
				font-size: 15px;
				margin: 0;
			}
			.opengo-btn {
				position: absolute;
				top: 6px;
				right: 6px;
				background-color: #be1622;
				&:hover {
					background-color: #da2734;
				}
				i {
					margin-right: 7px;
					font-size: 12px;
				}
			}
		}
		& > .title:first-child {
			border-top: none;
		}
		.section {
			padding: 15px;
			.content-snippet {
				margin-bottom: 10px;
				.label {
					font-weight: 500;
					margin: 3px 3px 3px 0;
					display: inline-block;
				}
			}
		}
	}
	.dashboard-widget-area-wrapper .widgets {
		display: flex;
		flex-wrap: wrap;
		.widget {
			width: 100%;
			margin: 0;
			.title {
				width: 100%;
				border-bottom: 1px solid $color__grid-grey-light;
				padding: 10px 15px;
				background: $color__flat_heading_bg;
				color: $color__flat_heading_font;
				h4 {
					display: inline;
					font-size: 15px;
					margin: 0;
					padding: 0;
					margin-right: 10px;
				}
			}
			.content {
				width: 100%;
				border-bottom: 1px solid $color__grid-grey-light;
				padding: 10px 15px;
			}
			.footer {
				width: 100%;
				border-bottom: 1px solid $color__grid-grey-light;
				padding: 10px 15px;
			}
		}
	}

	.load-more-wrapper {
		padding-top: 0;
		margin-top: -10px;
		a {
			padding: 10px 40px;
		}
	}
	.blog-row {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		.full-width-post.featured-post {
		    margin-bottom: 40px;
		}


		.load-more-wrapper {
			padding-top: 0;
			margin-top: 30px;
			a {
				padding: 10px 40px;
			}
		}

		.featured-post .banner .container-fluid {
			padding: 0;
			position: absolute;
			bottom: 0;
		}
		.popular-posts .banner .container-fluid {
			h2 {
				max-width: 100%;
				margin: 0;
				padding: 8px;
				left: 50%;
				width: 90%;
				margin-left: -45%;
				font-size: 36px;
			}
		}
	}
	.blog-archive-list {
		.author {
			display:none;
		}
		& .blog-archive-section {
			&:first-child {
				padding-top: 0 !important;
			}
			&:last-child {
				border-bottom: 1px solid #ccc;
			}
		}
	}
}


.share-profile-modal {
	.modal-body {
		.lead-text {
			display: inline-block;
			padding: 20px 15px;
			text-align: center;
			width: 100%;
			font-size: 16px;
			font-weight: 500;
		}

				i {
			margin-left:0;
			margin-right:5px;
		}

		&.share-file-attachment {
			border-top:1px dashed #ccc;
			background:#f1f1f1;
			border-bottom-left-radius:6px;
			border-bottom-right-radius:6px;

					i {
					margin-left:10px;
					margin-right:0;
				}
		}

		.button-wrapper {
			.btn {
				width:100%;
				margin-bottom:20px;
			}
		}


	}
}

.execution-plans-wrapper {
	.ex-plan {
		display: block;
		float: left;
		width: 33.3333%;
		padding: 0 15px;
		margin-bottom: 30px;
		.plan {
			background: #fff;
			border: 1px solid $color__grid-grey-light;
			border-radius: 3px;
			.plan-image {
				height: 150px;
				position: relative;
				.shadow-title {
					display: inline-block;
					text-align: center;
					width: 100%;
					position: absolute;
					bottom: 0;
					background: url("images/caption_dot.png") repeat 0 0;
					color: #fff;
					padding: 5px 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					height: 30px;
					font-weight: 600;
					font-size: 13px;
				}
			}
			.aligner {
				display: inline-block;
			}
			.plan-title {
				font-size: 16px;
				margin: 0;
				padding: 10px;
				font-weight: 500;
				min-height: 70px;
				display:inline-block;
			}
			.plan-description {
				padding: 0 10px 10px;
				display:inline-block;
			}
			.plan-footer {
				padding: 0 10px 10px;
			}
			.load-more-wrapper {
				padding-top: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 870px) {
	#content .page-general.page-dashboard-v2 {
		background: transparent;
		border: none;
		display: inline-block;
		float: left;
		width: 100%;
		.dashboard-main-area-wrapper {
			display: inline-block;
			float: left;
			width: 68%;
			margin-left: 2%;
		}
		.dashboard-widget-area-wrapper {
			display: inline-block;
			float: left;
			min-width: 200px;
			width: 30%;
		}
	}
	.execution-plans-wrapper .ex-plan {
		width: 50%;
	}
}
@media screen and (max-width: 754px) {
	#content .page-general.page-dashboard-v2 {
		display: inline-block;
		float: left;
		width: 100%;
		.dashboard-main-area-wrapper {
			display: inline-block;
			float: left;
			width: 100%;
			margin-left: 0;
		}
		.dashboard-widget-area-wrapper {
			display: inline-block;
			float: left;
			width: 100%;
		}
	}
}
@media screen and (max-width: 440px) {
	#content .page-general.page-dashboard-v2 .dashboard-main-area-wrapper .content .title {
		display: inline-block;
	}
	#content .page-general.page-dashboard-v2 .dashboard-main-area-wrapper .content .title h1,
	#content .page-general.page-dashboard-v2 .dashboard-widget-area-wrapper .widgets .widget .title h4 {
		width: 100%;
		display: block;
		text-align: center;
	}
	#content .page-general.page-dashboard-v2 .dashboard-main-area-wrapper .content .title .opengo-btn {
		position: relative;
		display: block;
		width: 100%;
		max-width: 300px;
		margin-top: 10px;
		height: 30px;
		padding: 5px;
		margin-bottom: 10px;
	}
	.execution-plans-wrapper .ex-plan {
		width: 100%;
	}
	#content .page-general.page-dashboard-v2 .load-more-wrapper {
		padding-top: 0;
		margin-top: -10px;
		a {
			padding: 10px 20px;
			max-width: 234px;
			font-size: 18px;
		}
	}
}
