#content .page-general.page-dashboard {
	background:transparent;
	border:none;
	display:inline-block;
	float:left;
	width:100%;
	box-shadow: none;


	 .dashboard-main-area-wrapper {
		display:inline-block;
		float:left;
		width:73%;
		margin-right:2%;
	}

   .dashboard-widget-area-wrapper {
		display:inline-block;
		float:left;
		min-width:200px;
		width:25%;
		.profile-completion .content {
			text-align:center;
		}
				.no-items {
		    width: 100%;
		    padding: 40px 15px;
		    text-align: Center;
		    display: inline-block;
		    font-weight: 500;
		}
   }


   .dashboard-main-area-wrapper .content,
   .dashboard-widget-area-wrapper .widgets {
		background:#fff;
		border: 1px solid rgba(34, 107, 170, 0.17);
		border-radius:2px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
   }




   .dashboard-main-area-wrapper .content{
   	pre {
   	font-family: inherit;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
   	}

   			.talent-url-wrapper {
		    background: #5CB85C;
		    margin: 0;
		    color: #FFFFFF;
		    text-shadow: none;
		    text-align: center;
		    .talent-url {
				    font-weight: 800;
				    color: #FFFFFF;
    				text-shadow: 1px 1px #5A5A5A;
				}
		}

		.add-new-item {
			display:inline-block;
			float:left;
			width:100%;
			padding: 15px;
    	text-align: center;
    	border-top:1px solid $color__grid-grey-light;
    	&.personal-details {
    		margin-top:-16px;
    	}
    	&.current-job {
    		border:1px solid $color__grid-grey-light;
    		border-radius:3px;
    	}
    	&.previous-experience {
    		border:1px solid $color__grid-grey-light;
    		border-radius:3px;
    	}
    	&.inner {
    		border:1px solid $color__grid-grey-light;
    		border-radius:3px;
    		 margin-bottom: 15px;
    	}
    	.text {
    		display:inline-block;
    		width:100%;
    		margin-bottom:15px;
    	}

		}


		.title {
			padding:10px 15px;
			border-top:1px solid $color__grid-grey-light;
			border-bottom:1px solid $color__grid-grey-light;
			width:100%;
			background:$color__flat_heading_bg;
			color:$color__flat_heading_font;
			position:relative;

			h1 {
				font-size:15px;
				margin:0;
			}

			.edit-btn {
				position:absolute;
				top:0;
				right:0px;

				i {
					margin-right:7px;
					font-size:12px
				}
			}
		}
		& > .title:first-child {
			border-top:none;
		}

		.section{
			padding:15px;

			.content-snippet {
				margin-bottom:10px;

				.label {
					font-weight: 500;
					margin: 3px;
					margin-left:0;
					margin-right:3px;
    			display: inline-block;
				}
			}
		}

		.profile {
			.name {
				text-align:center;
				margin-bottom: 20px;
			}

			.contacts-wrapper {
				width:100%;
				text-align:center;
				.mail,
				.phone {
					display:inline-block;
					border:1px solid $color__grid-grey-light;
					padding:3px 15px;
					border-radius:15px;
					color: #888;
					font-size:13px;
					margin-bottom:15px;

					i {
						font-size:12px;
						margin-right:8px;
					}
				}
			}

			.subtitle {
				position:relative;
				display:inline-block;
				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px;
				padding-right:55px;

				h2 {
					font-size:16px;
					display:inline;
					text-transform:uppercase;
					margin:0;
				}
				.edit-btn {
					position:absolute;
					top:6px;
					right:0px;

					i {
						margin-right:7px;
						font-size:12px
					}

				}
			}

			.sub-subtitle {
				position:relative;
				width:100%;
				padding: 10px 55px;


				h2 {
					font-size:15px;
					display:inline;
					text-transform:uppercase;
					margin:0;
				}
				.edit-btn {
					position:absolute;
					top:6px;
					right:0px;

					i {
						margin-right:7px;
						font-size:12px
					}

				}
			}


			.summary {
				margin:20px 0;
			}

			.timeline-wrapper {

				padding: 15px;

				.item {
					display: inline-block;
					width:100%;
					padding-left:60px;
					position:relative;
					margin:0;


					.timeline {
						width:45px;
						position:absolute;
						left:0;
						top:0;
						height:100%;
						text-align:center;

						.circle {
							position: absolute;
							top: 50%;
							margin-top: -11px;
							left: 50%;
							margin-left: -11px;
							width: 20px;
							height: 20px;
							background: #fff;
							border-radius: 50%;
							border: 3px solid #2980b9;
							z-index: 99;
						}

						.line {
							position:absolute;
							width::2px;
							background: #d9edf7;
							left:50%;
							margin-left:-2px;
							top:0;
							bottom:0;

						}

						&.remove-line .line {
							display:none;
						}
						&.line-down .line {
							top:50%!important;
							bottom:0;
						}

						&.line-up .line {
							top:0;
							bottom:50%!important;
						}

					}

					.item-content {
						.panel {
							margin: 10px 0 ;
						}
					}
				}

				& > .item:first-child .timeline .line {
					top:50%;
				}

				& > .item:last-child .timeline .line {
					bottom:50%;
				}

			}
		}
   }
















    .dashboard-widget-area-wrapper .widgets {
    	display:flex;
    	flex-wrap:wrap;

    	.widget {

    		width:100%;
    		margin:0;

			.title {

				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px 15px;
				background:$color__flat_heading_bg;
				color:$color__flat_heading_font;

				h4 {
					display:inline;
					font-size:15px;
					margin:0;
					padding:0;
					margin-right:10px;
				}
			}

			.content {
				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px 15px;
			}

		    .footer {
				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px 15px;
			}
    	}

    	.widget.messages,
    	.widget.jobs {
    		.content {
				padding:0;
				.list-group {
					margin:0;
					border:none;
					border-radius:0;
					& > .list-group-item:first-child {
					    border-top-right-radius: 0;
					    border-top-left-radius: 0;
					    border-top: none;
					}
					& > .list-group-item:last-child {
					    margin-bottom: 0;
					    border-bottom-right-radius: 0;
					    border-bottom-left-radius: 0;
					    border-bottom:none;
					}
					& > .list-group-item {
					    border-left:none;
					    border-right:none;

					    i {
					    	margin-right:12px;
					    }
					}
				}
    		}
    		.footer {
    			text-align:right;
    		}
    	}



    	.widget.ad {
    		.content {
				padding:5px;
				a {
					width:100%;
					img {
						width:100%;
						height:auto;
					}
				}
    		}

    	}




    }


	#mobile-profile-completion-widget {
			display:none;
			margin-bottom: 0!important;
			.title h4 {
	    display: inline;
	    font-size: 15px;
	    margin: 0;
	    padding: 0;
	    margin-right: 10px;
  		}
  		.content {
  			padding:15px;
  			border:none;
  			box-shadow:none;
  			text-align:center;
  		}
	}



}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 870px){

	#content .page-general.page-dashboard {
		background:transparent;
		border:none;
		display:inline-block;
		float:left;
		width:100%;

		 .dashboard-main-area-wrapper {
			display:inline-block;
			float:left;
			width:68%;
			margin-right:2%;
		}

	   .dashboard-widget-area-wrapper {
			display:inline-block;
			float:left;
			min-width:200px;
			width:30%;
	   }
	}
}


@media screen and (max-width: 754px){

#content .page-general.page-dashboard {
	display:inline-block;
	float:left;
	width:100%;

	#mobile-profile-completion-widget {
		display:block;
	}

	#desktop-widget {
		display:none;
	}

   .dashboard-main-area-wrapper {
	display:inline-block;
	float:left;
	width:100%;
   }
   .dashboard-widget-area-wrapper {
	display:inline-block;
	float:left;
	width:100%;
   }
}



}


@media screen and (max-width: 440px){

#content .page-general.page-dashboard .dashboard-main-area-wrapper .content .add-new-item.inner {
    border: 1px solid #e3e3e3;
    margin: 0;
    width: auto;
    margin-right: -15px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    min-width: 100%;
}

	#content .page-general.page-dashboard .dashboard-main-area-wrapper .content .profile .timeline-wrapper {

		padding: 15px;

		padding-left:0;

		.item {
			display: inline-block;
			width:100%;
			padding-left:30px;
			position:relative;
			margin:0;

			.timeline {
				width:30px;
				position:absolute;
				left:0;
				top:0;
				height:100%;
				text-align:center;

				.circle {
					position:absolute;
					top:50%;
					margin-top:-9px;
					left:50%;
					margin-left:-9px;
					width:16px;
					height:16px;
					background:#fff;
					border-radius:50%;
					border:2px solid #2980b9;
					z-index:99;
				}

				.line {
					position:absolute;
					width::2px;
					background:#2980b9;
					left:50%;
					margin-left:-2px;
					top:0;
					bottom:0;

				}
			}

			.item-content {
				.panel {
					margin: 10px 0 ;
				}
			}
		}

		& > .item:first-child .timeline .line {
			top:50%;
		}

		& > .item:last-child .timeline .line {
			bottom:50%;
		}

	}

}
