#content .content-part .editor {



	#editor-personal-details .og-error {
		display:none;
	}


	#editor-personal-details {
		// style the avatar

		#avatar-dropzone {
			display: inline-block;
			position:relative;
			width: 160px;
			height:auto;
			max-width:100%;
			background:#f5f5f5;
			border:4px solid #fff;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
			cursor:pointer;
			margin-bottom:20px;
			overflow:hidden;
			.avatar {
				position: relative;
				top:0;
				width:100%;
				height:auto;
			}
			.dz-default.dz-message {
				display:none;
			    text-align: center;
			    padding-top: 60px;
			    font-weight: 900;
			    color: #fff;
			}

			.dz-preview {
			    display: none;
			}
		}

		.upload-error {
			 padding: 5px;
	    font-size: 13px;
	    display:none;
		}





	}



	.page-content-wrapper.editor-wrapper {
		padding:0;
		display:inline-block;
		float:left;
		width:100%;

		.sidebar {
			float:left;
			width:220px;
			.list-group {
				margin:0;
				.list-group-item {
					border-left:none;
					border-right:none;

					i {
						margin-right:10px;
						width:15px;
					}

					.label {
						float:right;
					}
				}
				& > .list-group-item:first-child {
					border-top:none;
					border-radius:0;
				}

				& > .list-group-item:last-child {
					border-radius:0;
				}
			}

			.profile-completion-widget {
				padding:15px;

				h4,
				h6 {
					text-align:center;
				}

			}
		}
		.settings-page {
			.bottom {
				padding:0!important;
				border-top:none!important;
			}
			.delete-profile-wrapper {
			    display: inline-block;
			    float: left;
			    width: 100%;
			    text-align: right;
			    border-top: 1px solid #E3E3E3;
			    padding: 15px 0;
			}
			.delete-profile{
			    display: inline-block;
			    float: right;
			    button {
			    	width:200px;

			    & .fa-trash-o {
					    float: left;
					    margin-top: 3px;
					    margin-left: 10px;
					}
					& .caret {
					    float: right;
					    margin-top: 8px;
					    margin-left: 10px;
}
			    }
			}
		}
		.editor-content {
			display:block;
			float:none;
			margin-left:220px;
			border-left:1px solid $color__grid-grey-light;


			.fields-group-title {
				display: inline-block;
			    float: left;
			    width: 100%;
			    padding: 0 15px;
			    font-size: 18px;
			    border-bottom: 1px solid #ccc;
			    padding-bottom: 10px;
			    background: #F5F5F5;
			    margin-top: 0;
			    padding-top: 10px;

			    &.no-bottom-margin {
			    	margin-bottom:0;

			    }
			}

			textarea {
				min-height:120px;
				resize:vertical;
			}
			.list-group.full-width {
			    min-height: 460px;
			}
			.editor-flex {

				display:inline-block;
				width:100%;
				float:left;
				border-top:none;
				min-height:460px;
				&.skills {
					min-height:460px;
				}

				& .editor-list-group-list-wrapper {
					display:inline-block;
					float:left;
					width:100%;
					padding:0;
					margin-bottom:0;
					.add-new-placeholder {
					    display: inline-block;
					    float: left;
					    width: 100%;
					    text-align: center;
					    padding: 15px;
					}
					.list-group-item {
						display:inline-block;
						float:left;
						width:100%;
						padding:0;
						cursor:pointer;
						border-left:none;
						border-right:none;

						.unsaved-changes {
							display:none;
							position: absolute;
					    right: 15px;
					    top: 15px;
					    opacity: 0.9;
						}
						.cancel-btn {
					    	position: absolute;
						    right: 15px;
						    top: 40px;
						}
						.create-new-label {
							display:block;
							position: absolute;
					    right: 15px;
					    top: 15px;
					    opacity: 0.9;
						}

						&:first-child {
							border-radius:0;
							border-top:none;
						}
						&:last-child {
							border-radius:0;
						}
						&.expanded,
						&:hover {
							background:#f5f5f5;
						}

						& .editor-form-wrapper {
							display:inline-block;
							float:left;
							width:100%;
						}
						&.expanded .editor-form-wrapper {
							display:inline-block;
							float:left;
							width:100%;
							border-top: 1px dashed #ccc;
						}

						& > .list-group-item:first-child {
							border-radius:0;
							border-top:none;
						}
						& > .list-group-item:last-child {
							border-radius:0;
						}
						.add-new-element {
						    position: absolute;
						    top: 17px;
						    right: 0;
						    width: auto;
						    height: 45px;
						    background: rgba(92, 184, 92, 0.48);
						    padding: 14px 20px;
						    color: #fff;
						    text-transform: uppercase;
						    border-radius: 5px 0 0 5px;
						    font-size:13px;
						}
						.rendered {
							display:inline-block;
							float:left;
							width:100%;
							padding:15px;
							pre {
								font-family:inherit;
						    display: block;
						    padding: 0;
						    margin: 0;
						    font-size: 13px;
						    line-height: inherit;
						    word-break: break-all;
						    word-wrap: break-word;
						    color: inherit;
						    background-color: inherit;
						    border: none;
						    border-radius: 0;

							}
						}
					}
				}
				.hint {
					display:inline-block;
					float:right;
					width:30%;
					padding:20px;
				}
				.fields-wrapper {
					display:inline-block;
					float:right;
					padding:20px;
					padding-right:0;
					width:70%;
				}


			}

			.bottom {
				display:inline-block;
				float:left;
				width:100%;
				padding:15px;
				text-align:right;
				border-top:1px solid $color__grid-grey-light;
				min-height: 64px;


				.save-btn,
				.delete-btn,
				.btn-group  {
			    display: inline-block;
			    float: right;
			    min-width: 90px;
				}

				.public-preview-btn {
					display:inline-block;
					float:right;
					margin-right:10px;
					i {
						margin-right:8px;
					}
				}

				.save-btn.extra-margin,
				.delete-btn.extra-margin  {
			    display: inline-block;
			    float: right;
			    min-width: 90px;
			    margin-left: 20px;
			    margin-right: -10px;
				}

				.og-footer-error {
					    float: right;
					    padding: 4px 10px;
					    color: #e74c3c;

				}
			}
		}
	}


}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/


@media screen and (max-width: 860px){

	#content .content-part .editor {
		.page-content-wrapper.editor-wrapper {
			.sidebar {
				.list-group {
					.list-group-item {
						i {
						}
						.label {
						}
					}
					& > .list-group-item:first-child {
					}
					& > .list-group-item:last-child {
					}
				}
				.profile-completion-widget {
					h4,
					h6 {
					}
				}
			}
			.editor-content {
				.editor-flex {
							& .editor-list-group-list-wrapper .list-group-item .add-new-element {
					    position: absolute;
					    top: 0px;
					    right: 0;
					    width: auto;
					    height: 20px;
					    background: #5CB85C;
					    padding: 2px 11px;
					    color: #fff;
					    text-transform: uppercase;
					    border-radius: 0px 0 0 5px;
					    font-size: 12px;
					}
					.hint {
						width:100%;
						padding:20px;
					}
					.fields-wrapper {
						padding:20px;
						padding-right:20px;
						width:100%;
					}
				}
				.bottom {
				}
			}
		}
	}
}

@media screen and (max-width: 525px){

	#content .content-part .editor {
		.page-content-wrapper.editor-wrapper {
			.sidebar {
				width:100%;
				.list-group {
					.list-group-item {
						i {
						}
						.label {
						}
					}
					& > .list-group-item:first-child {
					}
					& > .list-group-item:last-child {
					}
				}
				.profile-completion-widget {
					h4,
					h6 {
					}
				}
			}
			.editor-content {
				width:100%;
				margin-left:0;
				.editor-flex {
					& .editor-list-group-list-wrapper .list-group-item .add-new-element {
					    position: absolute;
					    top: 0px;
					    right: 0;
					    width: auto;
					    height: 20px;
					    background: #5CB85C;
					    padding: 2px 11px;
					    color: #fff;
					    text-transform: uppercase;
					    border-radius: 0px 0 0 5px;
					    font-size: 12px;
					}
					.hint {
						width:100%;
						padding:20px;
					}
					.fields-wrapper {
						padding:20px;
						padding-right:20px;
						width:100%;
					}
				}
				.bottom {
				}
			}
		}
	}
}


