.page-template-login {
	.home-main {
	 height:100vh;
	}

	.home-wrapper {
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;

	}

	.col-md-6.home-social-connect {
	display: inline-block;
	background: #fff;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	padding-left: 30px;
	width: 47%;
	padding-right: 20%;
	box-sizing: border-box;
	float: right;
	padding-top: 40px;

		p {
		color: #8C8C8C;
		text-align:center;
		margin-top:25px;
		}
	}



	.home-menu {
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #F2F2F2;
	}

	.logo-wrapper {
	display: inline-block;
	width: 100%;
	margin-left: 30%;
	margin-top: 10%;
	position: relative;
	z-index: 100;
	width: auto;

		img {
		max-height: 35px;
		width: auto;
		}

	}





	.hero-text-wrapper {
	display: inline-block;
	width: 100%;
	padding-left: 30%;
	margin-top: 10%;
	position: relative;
	z-index: 100;
	box-sizing: border-box;
	}



	.hero-text-wrapper h1 {
	width: 100%;
	color: rgba(0,0,0,.8);
	font-size: 26px;
	box-sizing: border-box;
	font-weight: 500;
	margin: 0 0 10px 0;
	}

	.hero-text-wrapper p {
	font-size: 17px;
	color: rgba(0,0,0,.7);
	line-height: 20px;
	}

	.find-out-more.btn {
		color:#fff;
	}


	.menu-home-footer-container  {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	}

	#menu-home-footer {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	float: left;
	}

	#menu-home-footer li {
	display: inline-block;
	float: left;
	margin: 10px;
	}

	#menu-home-footer li a {
	color: #8b959e;
	}



	.linkedin-login.btn,
	.facebook-login.btn {
	    width: 100%;
	    padding: 11px;
	    margin-top: 17px;
	    color: #fff;
	    background-color: #0077b5;
	    border: none;
	    opacity:0.85;
	}

		.nsauth-btn.btn {
	    width: 100%;
	    padding: 11px;
	    margin-top: 17px;
	    border: none;
	    opacity:0.85;
	}

	.linkedin-login.btn:hover,
	.facebook-login.btn:hover {
	    opacity:1;
	}

	.linkedin-login.btn{
	    background-color: #0077b5;
	}
	.facebook-login.btn {
		background-color:#2E4DA7;
	}

	.linkedin-login.btn > i,
	.facebook-login.btn > i {
	    font-size: 17px;
	    margin-right: 12px;
	}
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 1000px){

	.page-template-login {
		.col-md-6.home-we-connect {
		display: inline-block;
		width: 50%;
		}
	}


}


@media screen and (max-width: 780px){
	.page-template-login  {
		.col-md-6.home-we-connect {
		width: 100%;
		height: auto;
		padding:20px
		}

		.logo-wrapper, .hero-text-wrapper {
		margin: 0;
		margin: 10px auto;
		text-align: center;
		max-width: 100%;
		padding: 0;
		width: 100%;
		}


		.col-md-6.home-social-connect {
		display: inline-block;
		position: relative;
		width: 100%;
		margin-top: 15px;
		padding:20px!important;
		}

		.home-wrapper {
		display: inline-block;
		width: 100%;
		position: relative;
		top: 0;
		bottom: 0;
		}

		.menu-home-footer-container {
		display: inline-block;
		position: relative;
		width: 100%;
		float: left;
		}



		.home-menu {
		display: inline-block;
		width: 100%;
		position: relative;
		border-top: 1px solid #F2F2F2;
		text-align: center;
		margin-top: 15px;
		}
	}
}


@media screen and (max-height: 450px){
	.page-template-login {
		.menu-home-footer-container {
	  		display:none;
		}
	}

}
