#content .content-part .page-general.inbox {
	min-height:0;

	.page-content-wrapper {
		padding:0;

		.inbox-wrapper {
			display:inline-block;
			float:left;
			width:100%;
			border-bottom:1px solid $color__grid-grey-light;




			.inbox-content {
				display:block;
				margin-left:250px;
				border-left:1px solid $color__grid-grey-light;
			    min-width:250px;

			    .list-group {
			    	margin:0;
			    	min-height:200px;
								display: inline-block;
								width: 100%;

			    	& > .list-group-item {

						border-left:none;
						border-right:none;

						&:first-child {
							border-radius:0;
							border-left:none;
						    border-right:none;
						    border-top:none;
						}

						&:first-child,
						&:last-child {
							border-radius:0;
							border-left:none;
						    border-right:none;
						    border-bottom:none;
						}
						&:last-child {
							border-bottom:1px solid #E3E3E3;
						}
						&:only-child {
						    border-bottom: 1px solid #E3E3E3;
						    margin-bottom: 100px;
						}

						.list-group-item-heading {
						    display: inline-block;
						    margin-right: 15px;
						    padding-bottom: 5px;
						        font-size: 15px;
						        span.subject {
    color: #B9B9B9;
}
.direction {
    font-size: 12px;
    margin-right: 4px;
}
						}

					}

			    }
			}

			.inbox-nav {
				display:inline-block;
				float:left;
				width:250px;
				min-width:180px;
					.list-group {
						margin:0;
						& > .list-group-item {

							border-left:none;
							border-right:none;

							&:first-child,
							&:last-child {
								border-radius:0;
								border-left:none;
							    border-right:none;
							}


							i {
							    margin-right:15px;
							    width:10px;
							    text-align:center;
							}

						}
					}

			}
		}
	}

	.list-wrapper {
		display:inline-block;
		position:relative;
		width:100%;
	}
		.loader {
				display:none;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: #FBFBFB;
		    z-index: 999;
		    text-align:center;
		    padding: 88px 15px;

		    img {
				    max-width: 40px;
				}
		}

.load-more-btn-wrapper {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    text-align: right;

    .counter {
   		margin-right: 10px;
    	font-weight: 500;
		}
}

.no-messages {
    display: inline-block;
    min-height: 100px;
    padding: 90px 30px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}


}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 560px){


	#content .content-part .page-general.inbox {
		.page-content-wrapper {
			.inbox-wrapper {
				.inbox-content {
				   width:100%;
				   display:inline-block;
				   float:left;
				   margin-left:0;

				    .list-group {
				    	& > .list-group-item {
							&:first-child {
							}

							&:first-child,
							&:last-child {
							}

							.list-group-item-heading {
							}

						}

				    }
				}

				.inbox-nav {
				   width:100%;
				   display:inline-block;
				   float:left;
					border-right:none;
						.list-group {
							margin:0;
							& > .list-group-item {

								&:first-child,
								&:last-child {
								}
							}
						}

				}
			}
		}
		.pagination {
		}
	}


}
