#content .content-part .job-matches {
	.page-content-wrapper {
		padding:0;

		.totals {
		    text-align: Center;
		    font-size: 15px;
		    font-weight: 600;
		    padding: 15px;
		}
	.list-wrapper {
		display:inline-block;
		position:relative;
		width:100%;
	}
		.loader {
				display:none;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: #FBFBFB;
		    z-index: 999;
		    text-align:center;
		    padding: 88px 15px;

		    img {
				    max-width: 40px;
				}
		}

			.load-more-btn-wrapper {
			    display: inline-block;
			    width: 100%;
			    text-align: right;
			    padding: 15px;

			    span.counter {
					    margin-right: 15px;
					}
			}

		.list-group {
			margin-bottom:0;
			min-height: 250px;

			.list-group-item {
				border-left:0;
				border-right:0;
				.new {
				    position: absolute;
				    right: 9px;
				    top: 8px;
				}
				h4 {
					font-size:15px;
				}
				h5{
				    color: #888;
				}
				&:hover > .register-interest {
					opacity:0.9;
				}
				.register-interest {
					position:absolute;
					right:13px;
					bottom:13px;
					opacity:0;

					&:hover {
						opacity:1;
					}
				}



			}

			& > .list-group-item:first-child,
			& > .list-group-item:last-child  {
				border-radius:0;
			}



		}

		.pagination {
		    display: inline-block;
		    padding-left: 0;
		    margin: 15px 15px 10px 15px;
		    border-radius: 4px;
		}
	}
}
