#public-profile .content
   {
   	pre {
   	font-family: inherit;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
   	}

		.title {
			padding:10px 15px;
			border-top:1px solid $color__grid-grey-light;
			border-bottom:1px solid $color__grid-grey-light;
			width:100%;
			background:$color__flat_heading_bg;
			color:$color__flat_heading_font;
			position:relative;

			h1 {
				font-size:15px;
				margin:0;
			}

			.edit-btn {
				position:absolute;
				top:0;
				right:0px;

				i {
					margin-right:7px;
					font-size:12px
				}
			}
		}
		& > .title:first-child {
			border-top:none;
		}

		.section{
			padding:15px;
			.content-snippet {
				margin-bottom:10px;
				.label {
					font-weight: 500;
				}
			}
		}

		.profile {
			.name {
				text-align:center;
			}

			.contacts-wrapper {
				width:100%;
				text-align:center;
				.mail,
				.phone {
					display:inline-block;
					border:1px solid $color__grid-grey-light;
					padding:3px 15px;
					border-radius:15px;
					color: #888;
					font-size:13px;
					margin-bottom:6px;

					i {
						font-size:12px;
						margin-right:8px;
					}
				}
			}

			.subtitle {
				position:relative;
				width:100%;
				border-bottom:1px solid $color__grid-grey-light;
				padding:10px;
				padding-right:55px;

				h2 {
					font-size:16px;
					display:inline;
					text-transform:uppercase;
					margin:0;
				}
				.edit-btn {
					position:absolute;
					top:6px;
					right:0px;

					i {
						margin-right:7px;
						font-size:12px
					}

				}
			}

			.sub-subtitle {
				position:relative;
				width:100%;
				padding:10px;
				padding-right:55px 10px;
				padding-left:55px;


				h2 {
					font-size:15px;
					display:inline;
					text-transform:uppercase;
					margin:0;
				}
				.edit-btn {
					position:absolute;
					top:6px;
					right:0px;

					i {
						margin-right:7px;
						font-size:12px
					}

				}
			}


			.summary {
				margin:20px 0;
			}

			.timeline-wrapper {

				padding: 15px;

				.item {
					display: inline-block;
					width:100%;
					padding-left:60px;
					position:relative;
					margin:0;


					.timeline {
						width:60px;
						position:absolute;
						left:0;
						top:0;
						height:100%;
						text-align:center;

						.circle {
							position: absolute;
							top: 50%;
							margin-top: -11px;
							left: 50%;
							margin-left: -11px;
							width: 20px;
							height: 20px;
							background: #fff;
							border-radius: 50%;
							border: 3px solid #2980b9;
							z-index: 99;
						}

						.line {
							position:absolute;
							width::2px;
							background: #d9edf7;
							left:50%;
							margin-left:-2px;
							top:0;
							bottom:0;

						}

					}

					.item-content {
						.panel {
							margin: 10px 0 ;
						}
					}
				}

				& > .item:first-child .timeline .line {
					top:50%;
				}

				& > .item:last-child .timeline .line {
					bottom:50%;
				}

			}
		}
   }

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 440px){

	#public-profile .content .profile .timeline-wrapper {

		padding: 15px;

		padding-left:0;

		.item {
			display: inline-block;
			width:100%;
			padding-left:30px;
			position:relative;
			margin:0;

			.timeline {
				width:30px;
				position:absolute;
				left:0;
				top:0;
				height:100%;
				text-align:center;

				.circle {
					position:absolute;
					top:50%;
					margin-top:-9px;
					left:50%;
					margin-left:-9px;
					width:16px;
					height:16px;
					background:#fff;
					border-radius:50%;
					border:2px solid #2980b9;
					z-index:99;
				}

				.line {
					position:absolute;
					width::2px;
					background:#2980b9;
					left:50%;
					margin-left:-2px;
					top:0;
					bottom:0;

				}
			}

			.item-content {
				.panel {
					margin: 10px 0 ;
				}
			}
		}

		& > .item:first-child .timeline .line {
			top:50%;
		}

		& > .item:last-child .timeline .line {
			bottom:50%;
		}

	}

}
