.white-section {
	background: #fff;
}
.blog-container {
	max-width: 700px;
}
.blog-post {
	h1,
	h2,
	h3,
	h4,
	h5,
	h5,
	p {
		color: #000;
	}
	p {
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 20px;
		font-weight: 200;
		font-style: normal;
	}
	a {
		color: #be1622;
		text-decoration: underline;
	}
	.title {
		color: #000;
		margin-top: 5px;
		font-weight: 900;
	}
	.page-title {
		margin-bottom: 40px;
	}
	.article-featured-image {
		img {
			width: 100%;
			height: auto;
		}
	}
	.article-brief {
		padding-top: 20px;
		padding-bottom: 20px;
		.article-summary {
			margin-top: 5px;
		}
		.article-summary,
		.article-summary em,
		.article-summary p,
		.article-summary span {
			font-size: 16px;
			color: #000;
			font-weight: normal;
			font-style: italic;
			text-align: left;
			line-height: 1.6;
		}
	}
	.author-n-sharing {
		border-left: 1px solid #000;
		.author {
			margin-bottom: 5px;
			padding: 5px;
			a {
				color: #be1622;
				font-size: 16px;
				line-height: 15px;
				text-decoration: none;
			}
		}
	}
	.sharing {
		padding-bottom: 5px;
		.heateorSssSharingRound i {
			max-width: 67px;
		}
	}
	.h2,
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 28px;
		color: #000;
		margin: 0 0 20px;
		padding: 0;
	}
	ul {
		margin-left: 30px;
		margin-bottom: 30px;
		list-style: square;
		li {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 10px;
			font-weight: 200;
		}
	}
	.article-meta {
		display: block;
		float: left;
		width: 100%;
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 20px;
		padding: 10px 0;
		.author,
		.date {
			display: block;
			float: left;
			margin-right: 10px;
			font-weight: 500;
			color: #969696;
			font-size: 15px;
			line-height: 23px;
			padding-bottom: 4px;
		}
		.tags {
			display: block;
			float: left;
			width: 100%;
			font-weight: 900;
			.tag {
				display: inline-block;
				border-radius: 2px;
				background: #585F69;
				color: #fff;
				padding: 2px 10px;
				margin-right: 5px;
				font-size: 14px;
				text-decoration: none;
				-webkit-transition: background 0.3s;
				-moz-transition: background 0.3s;
				-ms-transition: background 0.3s;
				-o-transition: background 0.3s;
				transition: background 0.3s;
				&:hover {
					background: #888;
				}
				&:before {
					display: inline-block;
					content: '#';
					margin-right: 5px;
					color: #eee;
				}
			}
		}
	}
	.article-content {
		display: block;
		float: left;
		width: 100%;
		li {
			margin-bottom: 10px;
		}
		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
			border-radius: 2px;
			margin-top: 10px;
		}
		.wp-caption {
			max-width: 100%;
			margin-bottom: 15px;
			.wp-caption-text {
				font-style: italic;
			}
			img {
				max-width: 100%;
				height: auto;
				margin-bottom: 5px;
				border-radius: 2px;
			}
		}
	}
}


.post-snippet {

	padding-bottom:10px;
	.pshr {
		display:block;
		margin-top:40px;
		margin-bottom:10px;
	}

	.post-tags a {
		font-size: 12px;
		color: #898989;
		margin: 0 0 18px;
		text-transform: uppercase;
		display: inline-block;
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
	}

	.post-title a {
		font-size: 28px;
		color: #000;
		margin: 0 0 20px;
		padding: 0;
		text-decoration: none;
		&:hover {
			text-decoration:underline;
		}
	}

	.author a {
		font-weight:500;
		text-decoration: none;
		font-size:15px;
	}
}

.related-posts {
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
	margin-top:20px;
}
