.single-job {


	.job-match {


		h2{
	    text-align: center;
	    margin-top: 10px;
	    color: #464646;
		}

		h4 {
		  text-align: center;
	    margin-bottom: 20px;
	    color: #888;
		}

			.already-applied {
			    display: inline-block;
			    float: left;
			    width: 100%;
			    padding: 50px 15px;
			    text-align: Center;
			    font-weight: 500;
			}
		.capability-requirements {
		    display: inline-block;
		    width: 100%;
		    padding-top: 20px;
		    padding-bottom: 20px;

		    .og-info {
				    margin-bottom: 10px;
				}

				.capability-line {
			    display: inline-block;
			    width: 100%;
			    padding: 9px;
			    border: 1px solid #EFEFEF;
			    border-radius: 4px;
			    margin: 5px 0;
			    position:relative;

			    .capability-question {
				    display: block;
				    float: left;
				    margin-right: 165px;
				    font-size: 15px;
				    font-weight: 500;
				    color: #666;
				    padding: 5px;
					}

					.btn-group {
						position:absolute;
						right:10px;
						top:10px;
					}
			}
		}

		.button-wrapper {
			text-align:right;
			.btn {
				float:right;
				margin:15px 5px;
			}
			.item-preloader {
				    margin: 15px;
			}
		}

	}
	.no-formatting-pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-word;
    word-wrap: normal;
    color: #333333;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-top: 1px dashed rgba(204, 204, 204, 0.24);
    border-bottom: 1px dashed rgba(204, 204, 204, 0.24);
    padding-top: 20px;
    padding-bottom: 20px;
	}
	.error-message {
		display:none;
    border: 1px solid #e74c3c;
    padding: 3px;
    margin: 5px 0;
    border-radius: 3px;
    color: #e74c3c;
    background-color: #FFF2F1;
}
}
