#content .content-part .editor .registration-step {

	.editor-content {
		margin-left:0!important;
		border-left:none!important;
	}




}
	#profile-complete-modal {

		.lead-text {
    	padding: 20px 10px 0 10px;
		}


				.main-countdown {
		    	padding: 20px 10px 20px 10px;
				}
		.btn.btn-opengo-red {
			    margin-bottom: 20px;

		}
	}
