$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-header:#fff;
$color__background-content-up:#226BAA;
$color__background-content-down:#EBF0F3;
$color__background-footer:#EBF0F3;

$color__grid-grey:#bdc3c7;
$color__grid-grey-light:#e3e3e3;

$color__flat_midnight_blue:#2c3e50;

$color__flat_heading_bg: #ecf0f1;
$color__flat_heading_font: #95a5a6;
